<a href="https://colab.research.google.com/github/kkkssshhh/SkillTreePython/blob/main/2_4_%ED%8C%8C%EC%9D%B4%EC%8D%AC%EC%9D%98_%EC%9E%90%EB%A3%8C%ED%98%95_%ED%8A%9C%ED%94%8C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2-4.파이썬의 자료형:튜플
---
* 날짜:
* 이름:김시후

## 개념정리
---

튜플(tuple) 은 리스트와 유사합니다. 하지만 수정할 수 없다는 특징을 가지고 있습니다. 따라서 어떤 군집 값을 마치 변수처럼 변환을 계속하고 싶다면 리스트를, 상수처럼 고정하고 싶다면 튜플을 쓰는게 좋습니다.

### (1) 생성

`( )` 기호를 통해 튜플을 생성할 수 있습니다.

```
a = (1,2,3)
print(a)
type(a)
```

In [3]:
#a = (1,2,3)
a = tuple([1,2,3]) #리스트를 튜플로
a = tuple() #비어있는 튜플
print(a, type(a))

() <class 'tuple'>

In [4]:
a , type(a)

((), tuple)

####  **튜플의 요소**

리스트와 마찬가지로 튜플의 요소 또한 문자열, 리스트, 정수 등 다양한 요소들을 포함할 수 있습니다. 튜플 역시 요소들을 통일 하지 않아도 유효합니다.

```
a = (1, "a", True, [1,2,3])
print(a)
```

In [5]:
what = 1 , 2 , 3 #() 괄호를 안써도 튜플로 자동 인식
print(what , type(what))

(1, 2, 3) <class 'tuple'>

### (2) 수정과 삭제

리스트와 달리 튜플은 수정과 삭제가 불가능 합니다. 에러 메시지를 확인해 봅시다.


#### **수정**

```
a = (1,2,3,4)
a[0] = "a"
```

In [6]:
a = (1,2,3,4)
a[0] = "a"

TypeError: ignored

#### **삭제**

```
a = (1,2,3,4)
del a[0]
```

In [7]:
del a[0]

TypeError: ignored

#### **우회해서 수정하기**

그래도 꼭 수정해야 한다면 방법은 리스트로 변환 후 수정과 삭제를 하는 것입니다. 수정이나 삭제 후에는 또다시 튜플로 변환을 해주어야 합니다.

```
a = (1,2,3,4)
a = list(a)
a[0] = 0
a = tuple(a)
print(a)
```

In [9]:
a = (1,2,3,4)
a = list(a)
print(a)
a[0] = 0#첫번째 요소 0으로 수정
a=tuple(a)
print(a)

[1, 2, 3, 4]
(0, 2, 3, 4)

### (3) 인덱싱과 슬라이싱

튜플에서도 인덱싱과 슬라이싱이 가능합니다. 반환되는 값은 튜플임을 유의합니다.

```
a = (1,2,3,4,5)
print(a[0]) # 인덱싱
print(a[:2]) # 슬라이싱
```

In [10]:
a = (1,2,3,4,5)
a[3], a[:3]

(4, (1, 2, 3))

### (4) 튜플의 연산

튜플의 연산은 더하기 `+` 와 곱하기 `*` 만 사용할 수 있습니다. 이 때 더하기는 튜플끼리의 덧셈만 가능하며, 곱하기는 튜플와 정수값의 곱만 가능함을 주의해야 합니다. 튜플끼리의 덧셈 결과는 두 튜플를 이어 붙인 튜플가 되고 튜플과 정수의 곱은 튜플의 정수크기만큼 이어붙인 튜플이 됩니다.

#### **더하기**

```
a = (1,1,1,1,1)
b = (2,2)
print(a+b)
```

#### **곱하기**

```
a = (1,1,1,1,1)
b = 2
print(a*b)
```

### (5) 관련 메소드

지난번 문자열 메소드와 마찬가지로 리스트에도 다양한 내장함수 및 메소드가 존재합니다. 

|| 종류|
|--|--|
|내장함수| `len()`, `max()`, `min()`, `sum()`
|메서드|  `.count()`, `.index()`, `.sort()`

####  **내장함수**

* `len()`: 길이를 구합니다.
* `max()`: 최대값을 구합니다.
* `min()`: 최소값을 구합니다.
* `sum()`: 모든값을 더합니다.

```
a = (1,2,3,4)
print(len(a))
print(max(a))
print(min(a))
print(sum(a))
```

#### **기타 메서드**

* `count(obj)` : `obj` 개수 카운트
*  `index(obj)` : `obj` 위치 인덱싱 (중복시 앞순서부터)

```
a = (2,2,1,3,3,3)
print(a.count(2))
print(a.index(2))
```

## 문제풀이
---



**예제 01**

과일메뉴가 다음과 같습니다. 튜플로 작성하세요

|과일|
|--|
사과
바나나
감자
메론
복숭아
딸기

In [11]:
a= tuple(['사과', '바나나', '감자', '메론', '복숭아','딸기'])
print(a,type(a))

('사과', '바나나', '감자', '메론', '복숭아', '딸기') <class 'tuple'>

**예제 02**

위에서 만든 튜플에  "포도"를 추가하세요

In [14]:
a=('사과', '바나나', '감자', '메론', '복숭아','딸기')
a=list(a)
print(a)
a.append('포도')
a=tuple(a)
print(a)

['사과', '바나나', '감자', '메론', '복숭아', '딸기']
('사과', '바나나', '감자', '메론', '복숭아', '딸기', '포도')

**예제 03**

"감자"가 잘못 들어가 있었습니다. "감자"를 삭제하세요

In [23]:
a=list(a)
print(a)
a.remove('감자')
a=tuple(a)
print(a)

['사과', '바나나', '감자', '메론', '복숭아', '딸기', '포도']
('사과', '바나나', '메론', '복숭아', '딸기', '포도')

**예제 04**

위에서 만든 튜플의 세번째부터 끝까지 요소만 들어있는 튜플을 새로 만드세요(슬라이싱 이용하세요)

In [42]:
print(a[2:])

('메론', '복숭아', '딸기', '포도')

**예제 05**

빈 튜플을 생성하여 `t0` 으로 저장하세요

In [46]:
t0 = ()
print(t0, type(t0))

t0 = tuple()
print(t0, type(t0))

() <class 'tuple'>
() <class 'tuple'>

**예제 06**

숫자 5가 들어있는 튜플을 생성하여 `t1` 으로 저장하세요

In [ ]:
t1

**예제 07**

`t0` 에 8을 추가하세요

**예제 08**


`t0` 과 `t1` 을 합치세요

**예제 09**


아래와 같이 `a`가 바인딩 되어 있습니다. `a`의 타입을 확인해보고 이를 통해 알 수 있는 정보를 해설하세요


```
a = 1,2,3,4,5
```

**예제 10**

`b`의 평균을 계산하세요.


```
b = (1,2,3,4,5,10,20,30,40)
```